{% extends 'todo/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="overlay">
<div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
<h1 class="text-primary">Contact Form:</h1>
{% if contact %}
<h2 class="p-3 mb-2 bg-success text-white">{{contact.contact_name}} has sent message({{contact.contact_content}}) to us Successfully.</h2>{% endif %}
{% if error %}
<h2 class="p-3 mb-2 bg-danger text-white">{{error}}</h2>{% endif %}
<form method="POST">
  {% csrf_token %}
{{form|crispy}}
<button type="submit" class="btn btn-success">Send</button>
</form>
</div></div></div></div>
{% endblock %}
