

<!-- Bootstrap -->

<center>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#MyPopup">
        Open Menu</button>
</center>
<!-- Modal Popup -->
<div id="MyPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content bg-info">
            <div class="modal-header"><h3 class="modal-title">
MAIN MENU
            </h3>
                <button type="button" class="close" data-dismiss="modal">
                    &times;</button>

            </div>
            <div class="modal-body bg-secondary">
              <h5> <a class="nav-link bg-success" href="{% url 'createtodo'  %}">CREATE</a>
    <a class="nav-link bg-success" href="{% url 'currenttodos'  %}">CURRENT</a>
    <a class="nav-link bg-success" href="{% url 'completedtodos'  %}">COMPLETED</a>
    <a class="nav-link bg-success" href="{% url 'portfoliotodo'  %}">PORTFOLIO</a>
    <a class="nav-link bg-success" href="{% url 'translatortodo' %}">TRANSLATOR</a>
    <a class="nav-link bg-success" href="{% url 'abouttodo'  %}">ABOUT</a>
    <a class="nav-link bg-success" href="{% url 'contacttodo'  %}">CONTACT</a>
    <a class="nav-link bg-success" href="{% url 'signupuser'  %}">SIGNUP</a>
    <a class="nav-link bg-success" href="{% url 'myprofiletodo'  %}">My Profile</a>
    <a class="nav-link bg-success" href="{% url 'sendmailtodo'  %}">Email</a>

                </h5>
            </div>
            <div class="modal-footer bg-info">
                <input type="button" id="btnClosePopup" value="Close" class="btn btn-danger close" onclick="CheckChecked();" />
            </div>
        </div>
    </div>
</div>
<!-- Modal Popup -->
