{% extends 'todo/base.html' %}
{% block content %}
<div class="overlay"></div>
<div class="container"></div>
{% load static %}
<div class="row ">

  </div>

  <!-- portfolio -->
  <div class="portfolio">
       <h1 class="text-center">Portfolio</h1>
   <div class="container">
    <div class="row">
     <div class="col-lg-4 col-md-4 col-sm-12">
      <img src="{% static 'todo/images/port1.png' %}" class="img-fluid">
     </div>
     <div class="col-lg-4 col-md-4 col-sm-12">
      <img src="{% static 'todo/images/port2.png' %}" class="img-fluid">
     </div>
     <div class="col-lg-4 col-md-4 col-sm-12">
      <img src="{% static 'todo/images/port3.png' %}" class="img-fluid">
     </div>

  <div class="col-lg-4 col-md-4 col-sm-12">
      <img src="{% static 'todo/images/port4.png' %}" class="img-fluid">
     </div>
     <div class="col-lg-4 col-md-4 col-sm-12">
      <img src="{% static 'todo/images/port5.png' %}" class="img-fluid">
     </div>
     <div class="col-lg-4 col-md-4 col-sm-12">
      <img src="{% static 'todo/images/port6.png' %}" class="img-fluid">
     </div>

  <div class="col-lg-4 col-md-4 col-sm-12">
      <img src="{% static 'todo/images/port7.png' %}" class="img-fluid">
     </div>
     <div class="col-lg-4 col-md-4 col-sm-12">
      <img src="{% static 'todo/images/port8.png' %}" class="img-fluid">
     </div>
     <div class="col-lg-4 col-md-4 col-sm-12">
      <img src="{% static 'todo/images/port9.png' %}" class="img-fluid">
     </div>
    </div>
   </div>
  </div>


{% endblock %}
