.navbar{ background:#800080;position:relative;}
body{background:#FFFFF0;}
  {% load static %}

.content{min-height:100%;position:relative;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #f97300; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}
.navbar-collapse{
 justify-content: flex-end;
}
.username{height:10 ;}
.page-footer{background:#E6E6FA;}

.overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(244, 244, 244, 0.79);
}

.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;

}
.description h1{
 color:#F97300 ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #F97300;
 background:#F97300;
 color:#fff;
}

.about{
 margin: 4em 0;
 padding: 1em;
 position: relative;
}
.about h1{
 color:#F97300;
 margin: 2em;
}
.about img{
 height: 50%;
    width: 70%;
    border-radius: 50%
}
.about span{
 display: block;
 color: #888;
 position: absolute;
 left: 115px;
}
.about .desc{
 padding: 2em;
 border-left:4px solid #10828C;
}
.about .desc h3{
 color: #10828C;
}
.about .desc p{
 line-height:2;
 color:#888;
}

/*Portfolio*/
.portfolio{
 margin: 4em 0;
    position: relative;

}
.portfolio h1{
 color:#F97300;
 margin: 2em;
}
.portfolio img{
  height: 15rem;
  width: 100%;
  margin: 1em;

}
.viewtodobutton{
  margin: 4em 0;
     position: relative;
     text-align: left;
  display: table-cell;
  min-width: 10px;
  padding-right: 10px;

}
.error{

}
.resetcss{all:unset;}

.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
/* .fa{font-size:33px;} */
